In [1]:
# !pip install pg8000

In [2]:
import psycopg2
import sqlalchemy
from sqlalchemy           import create_engine, text
from sqlalchemy.orm       import sessionmaker
from sqlalchemy           import URL
from pymongo.mongo_client import MongoClient
from pymongo.server_api   import ServerApi

### Configurando e conectando ao MongoDB

In [3]:
username = 'massatohc'
password = 'rvNoSo1NgKSAnYZd'

uri = f"mongodb+srv://massatohc:rvNoSo1NgKSAnYZd@cluster0.uxhlsxi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
conn = f"mongodb+srv://massatohc:{password}@cluster0.uxhlsxi.mongodb.net/"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
db = client.college

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

### Funções de conexão ao PostgreSQL

In [4]:
# FUNÇÃO PARA PEGAR OS DADOS DO POSTGRES
def pegar_dados_postgres(query):
    url_object = URL.create(
        "postgresql+pg8000",
        username="dcxhxgql",
        password="bPlk_dl7Xc4l0WEaPCJIYR4dnO9kGZbz",
        host="motty.db.elephantsql.com",
        database="dcxhxgql",
    )

    engine = create_engine(url_object)
    Session = sessionmaker(bind=engine)
    session = Session()

    conn = engine.connect()
    data = conn.execute(text(query)).all()

    session.close()

    return data

# FUNÇÃO PARA DELETAR OS DADOS DE UMA COLEÇÃO DO MONGO
def deletar_dados_mongo(collection):
	db[collection].delete_many({})

In [5]:
url_object = URL.create(
    "postgresql+pg8000",
    username="dcxhxgql",
    password="bPlk_dl7Xc4l0WEaPCJIYR4dnO9kGZbz",
    host="motty.db.elephantsql.com",
    database="dcxhxgql",
)

engine = create_engine(url_object)
Session = sessionmaker(bind=engine)
session = Session()

conn = engine.connect()

### Alterando Documentos do MongoDB

In [6]:
# Limpando os dados das tabelas do mongo
deletar_dados_mongo('course')
deletar_dados_mongo('department')
deletar_dados_mongo('advisor')
deletar_dados_mongo('classroom')
deletar_dados_mongo('instructor')
deletar_dados_mongo('prereq')
deletar_dados_mongo('section')
deletar_dados_mongo('student')
deletar_dados_mongo('takes')
deletar_dados_mongo('teaches')
deletar_dados_mongo('time_slot')

In [7]:
query = 'SELECT * FROM public.course;'
cursos = conn.execute(text(query)).all()

cursos_mongo = []
for curso in cursos:
    cursos_mongo.append({
        "course_id": curso[0],
        "title": curso[1],
        "dept_name": curso[2],
        "credits": curso[3]
    })

session.close()

In [8]:
query = 'SELECT * FROM public.department;'
dept = conn.execute(text(query)).all()

dept_mongo = []

for d in dept:
    dept_mongo.append({
        "dept_name": d[0],
        "building": d[1],
        "budget": d[2]
    })

session.close()

In [9]:
query = 'SELECT * FROM public.advisor;'
advisor = conn.execute(text(query)).all()

advisor_mongo = []

for a in advisor:
    advisor_mongo.append({
        "s_id": a[0],
        "i_id": a[1]
    })

session.close()

In [10]:
query = 'SELECT * FROM public.classroom;'
classrooms = conn.execute(text(query)).all()

classroom_mongo = []

for room in classrooms:
    classroom_mongo.append({
        "building": room[0],
        "room_number": room[1],
        "capacity": room[2]
    })

session.close()

In [11]:
query = 'SELECT * FROM public.instructor;'
instructors = conn.execute(text(query)).all()

instructor_mongo = []

for instr in instructors:
    instructor_mongo.append({
        "id": instr[0],
        "dept_name": instr[1],
        "name": instr[2],
        "salary": instr[3]
    })

session.close()

In [12]:
query = 'SELECT * FROM public.prereq;'
prereqs = conn.execute(text(query)).all()

prereq_mongo = []

for req in prereqs:
    prereq_mongo.append({
        "course_id": req[0],
        "prereq_id": req[1]
    })

session.close()

In [13]:
query = 'SELECT * FROM public.section;'
sections = conn.execute(text(query)).all()

section_mongo = []

for sec in sections:
    section_mongo.append({
        "course_id": sec[0],
        "sec_id": sec[1],
        "semester": sec[2],
        "year": sec[3],
        "building": sec[4],
        "room_number": sec[5],
        "time_slot_id": sec[6]
    })

session.close()

In [14]:
query = 'SELECT * FROM public.student;'
students = conn.execute(text(query)).all()

student_mongo = []

for stu in students:
    student_mongo.append({
        "id": stu[0],
        "dept_name": stu[1],
        "name": stu[2],
        "tot_cred": stu[3]
    })

session.close()

In [15]:
query = 'SELECT * FROM public.takes;'
takes = conn.execute(text(query)).all()

takes_mongo = []

for take in takes:
    takes_mongo.append({
        "id": take[0],
        "course_id": take[1],
        "semester": take[2],
        "sec_id": take[3],
        "year": take[4],
        "grade": take[5]
    })

session.close()

In [16]:
query = 'SELECT * FROM public.teaches;'
teaches = conn.execute(text(query)).all()

teaches_mongo = []

for teach in teaches:
    teaches_mongo.append({
        "id": teach[0],
        "course_id": teach[1],
        "semester": teach[2],
        "sec_id": teach[3],
        "year": teach[4]
    })

session.close()

In [17]:
query = 'SELECT * FROM public.time_slot;'
time_slots = conn.execute(text(query)).all()

time_slot_mongo = []

for slot in time_slots:
    time_slot_mongo.append({
        "time_slot_id": slot[0],
        "day": slot[1],
        "start_hr": slot[2],
        "start_min": slot[3],
        "end_hr": slot[4],
        "end_min": slot[5]
    })

session.close()

In [18]:
# Inserindo os dados do postgres nas tabelas do mongo
db.course.insert_many(cursos_mongo)
db.department.insert_many(dept_mongo)
db.advisor.insert_many(advisor_mongo)
db.classroom.insert_many(classroom_mongo)
db.instructor.insert_many(instructor_mongo)
db.prereq.insert_many(prereq_mongo)
db.section.insert_many(section_mongo)
db.student.insert_many(student_mongo)
db.takes.insert_many(takes_mongo)
db.teaches.insert_many(teaches_mongo)
db.time_slot.insert_many(time_slot_mongo)

InsertManyResult([ObjectId('6632fc15692b53b00eb1af79'), ObjectId('6632fc15692b53b00eb1af7a'), ObjectId('6632fc15692b53b00eb1af7b'), ObjectId('6632fc15692b53b00eb1af7c'), ObjectId('6632fc15692b53b00eb1af7d'), ObjectId('6632fc15692b53b00eb1af7e'), ObjectId('6632fc15692b53b00eb1af7f'), ObjectId('6632fc15692b53b00eb1af80'), ObjectId('6632fc15692b53b00eb1af81'), ObjectId('6632fc15692b53b00eb1af82'), ObjectId('6632fc15692b53b00eb1af83'), ObjectId('6632fc15692b53b00eb1af84'), ObjectId('6632fc15692b53b00eb1af85'), ObjectId('6632fc15692b53b00eb1af86'), ObjectId('6632fc15692b53b00eb1af87'), ObjectId('6632fc15692b53b00eb1af88'), ObjectId('6632fc15692b53b00eb1af89'), ObjectId('6632fc15692b53b00eb1af8a'), ObjectId('6632fc15692b53b00eb1af8b'), ObjectId('6632fc15692b53b00eb1af8c')], acknowledged=True)

### Questão 1 - Listar todos os cursos oferecidos por um determinado departamento