In [107]:
# !pip install pg8000

In [134]:
import psycopg2
import sqlalchemy
import pandas as pd
from sqlalchemy           import create_engine, text
from sqlalchemy.orm       import sessionmaker
from sqlalchemy           import URL
from pymongo.mongo_client import MongoClient
from pymongo.server_api   import ServerApi
from time                 import sleep
from bson.objectid import ObjectId

#### Configurando e conectando ao MongoDB

In [109]:
username = 'massatohc'
password = 'rvNoSo1NgKSAnYZd'

uri = f"mongodb+srv://{username}:rvNoSo1NgKSAnYZd@cluster0.uxhlsxi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
conn = f"mongodb+srv://{username}:{password}@cluster0.uxhlsxi.mongodb.net/"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
db = client.college

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

#### Funções de conexão ao PostgreSQL e MongoDB

In [144]:
def selecionar_dados_postgres(query):
    url_object = URL.create(
        "postgresql+pg8000",
        username="dcxhxgql",
        password="bPlk_dl7Xc4l0WEaPCJIYR4dnO9kGZbz",
        host="motty.db.elephantsql.com",
        database="dcxhxgql",
    )

    engine = create_engine(url_object)
    Session = sessionmaker(bind=engine)
    session = Session()

    conn = engine.connect()
    dados = conn.execute(text(query)).all()
    
    session.close()

    return dados


def deletar_dados_mongo(colecao):
	db[colecao].delete_many({})
      

def listar_colunas(collection):
    for c in db[collection].find({}):
        print(c)

#### Alterando Documentos do MongoDB

In [111]:
# Limpando os dados das tabelas do mongo
deletar_dados_mongo('course')
deletar_dados_mongo('department')
deletar_dados_mongo('advisor')
deletar_dados_mongo('classroom')
deletar_dados_mongo('instructor')
deletar_dados_mongo('prereq')
deletar_dados_mongo('section')
deletar_dados_mongo('student')
deletar_dados_mongo('takes')
deletar_dados_mongo('teaches')
deletar_dados_mongo('time_slot')

In [112]:
# dados_course = selecionar_dados_postgres('SELECT * FROM public.course;')
# dados_department = selecionar_dados_postgres('SELECT * FROM public.department;')
# dados_advisor = selecionar_dados_postgres('SELECT * FROM public.advisor;')
# dados_classroom = selecionar_dados_postgres('SELECT * FROM public.classroom;')
# dados_instructor = selecionar_dados_postgres('SELECT * FROM public.instructor;')
# dados_prereq = selecionar_dados_postgres('SELECT * FROM public.prereq;')
# dados_section = selecionar_dados_postgres('SELECT * FROM public.section;')
# dados_student = selecionar_dados_postgres('SELECT * FROM public.student;')
# dados_takes = selecionar_dados_postgres('SELECT * FROM public.takes;')
# dados_teaches = selecionar_dados_postgres('SELECT * FROM public.teaches;')
# dados_time_slot = selecionar_dados_postgres('SELECT * FROM public.time_slot;')

In [113]:
url_object = URL.create(
    "postgresql+pg8000",
    username="dcxhxgql",
    password="bPlk_dl7Xc4l0WEaPCJIYR4dnO9kGZbz",
    host="motty.db.elephantsql.com",
    database="dcxhxgql",
)

engine = create_engine(url_object)
engine = create_engine(url_object)
Session = sessionmaker(bind=engine)
session = Session()
conn = engine.connect()

In [114]:
query = 'SELECT * FROM public.course;'
cursos = conn.execute(text(query)).all()

cursos_json = []
for curso in cursos:
    cursos_json.append({
        "course_id": curso[0],
        "title": curso[1],
        "dept_name": curso[2],
        "credits": curso[3]
    })

session.close()

In [115]:
query = 'SELECT * FROM public.department;'
dept = conn.execute(text(query)).all()

dept_json = []

for d in dept:
    dept_json.append({
        "dept_name": d[0],
        "building": d[1],
        "budget": d[2]
    })

session.close()

In [116]:
query = 'SELECT * FROM public.advisor;'
advisor = conn.execute(text(query)).all()

advisor_json = []

for a in advisor:
    advisor_json.append({
        "s_id": a[0],
        "i_id": a[1]
    })

session.close()

In [117]:
query = 'SELECT * FROM public.classroom;'
classrooms = conn.execute(text(query)).all()

classroom_json = []

for room in classrooms:
    classroom_json.append({
        "building": room[0],
        "room_number": room[1],
        "capacity": room[2]
    })

session.close()

In [118]:
query = 'SELECT * FROM public.instructor;'
instructors = conn.execute(text(query)).all()

instructor_json = []

for instr in instructors:
    instructor_json.append({
        "id": instr[0],
        "dept_name": instr[1],
        "name": instr[2],
        "salary": instr[3]
    })

session.close()

In [119]:
query = 'SELECT * FROM public.prereq;'
prereqs = conn.execute(text(query)).all()

prereq_json = []

for req in prereqs:
    prereq_json.append({
        "course_id": req[0],
        "prereq_id": req[1]
    })

session.close()

In [120]:
query = 'SELECT * FROM public.section;'
sections = conn.execute(text(query)).all()

section_json = []

for sec in sections:
    section_json.append({
        "course_id": sec[0],
        "sec_id": sec[1],
        "semester": sec[2],
        "year": sec[3],
        "building": sec[4],
        "room_number": sec[5],
        "time_slot_id": sec[6]
    })

session.close()

In [121]:
query = 'SELECT * FROM public.student;'
students = conn.execute(text(query)).all()

student_json = []

for stu in students:
    student_json.append({
        "id": stu[0],
        "dept_name": stu[1],
        "name": stu[2],
        "tot_cred": stu[3]
    })

session.close()

In [122]:
query = 'SELECT * FROM public.takes;'
takes = conn.execute(text(query)).all()

takes_json = []

for take in takes:
    takes_json.append({
        "id": take[0],
        "course_id": take[1],
        "semester": take[2],
        "sec_id": take[3],
        "year": take[4],
        "grade": take[5]
    })

session.close()

In [123]:
query = 'SELECT * FROM public.teaches;'
teaches = conn.execute(text(query)).all()

teaches_json = []

for teach in teaches:
    teaches_json.append({
        "id": teach[0],
        "course_id": teach[1],
        "semester": teach[2],
        "sec_id": teach[3],
        "year": teach[4]
    })

session.close()

In [124]:
query = 'SELECT * FROM public.time_slot;'
time_slots = conn.execute(text(query)).all()

time_slot_json = []

for slot in time_slots:
    time_slot_json.append({
        "time_slot_id": slot[0],
        "day": slot[1],
        "start_hr": slot[2],
        "start_min": slot[3],
        "end_hr": slot[4],
        "end_min": slot[5]
    })

session.close()

In [125]:
# Inserindo os dados do postgres nas tabelas do mongo
db.course.insert_many(cursos_json)
db.department.insert_many(dept_json)
db.advisor.insert_many(advisor_json)
db.classroom.insert_many(classroom_json)
db.instructor.insert_many(instructor_json)
db.prereq.insert_many(prereq_json)
db.section.insert_many(section_json)
db.student.insert_many(student_json)
db.takes.insert_many(takes_json)
db.teaches.insert_many(teaches_json)
db.time_slot.insert_many(time_slot_json)

InsertManyResult([ObjectId('663875728abfb77f37d6b95a'), ObjectId('663875728abfb77f37d6b95b'), ObjectId('663875728abfb77f37d6b95c'), ObjectId('663875728abfb77f37d6b95d'), ObjectId('663875728abfb77f37d6b95e'), ObjectId('663875728abfb77f37d6b95f'), ObjectId('663875728abfb77f37d6b960'), ObjectId('663875728abfb77f37d6b961'), ObjectId('663875728abfb77f37d6b962'), ObjectId('663875728abfb77f37d6b963'), ObjectId('663875728abfb77f37d6b964'), ObjectId('663875728abfb77f37d6b965'), ObjectId('663875728abfb77f37d6b966'), ObjectId('663875728abfb77f37d6b967'), ObjectId('663875728abfb77f37d6b968'), ObjectId('663875728abfb77f37d6b969'), ObjectId('663875728abfb77f37d6b96a'), ObjectId('663875728abfb77f37d6b96b'), ObjectId('663875728abfb77f37d6b96c'), ObjectId('663875728abfb77f37d6b96d')], acknowledged=True)

### Questões

In [126]:
for collection in db.list_collection_names():
    print(collection)

section
instructor
takes
teaches
department
time_slot
course
prereq
student
advisor
classroom

#### Questão 1 - Listar todos os cursos oferecidos por um determinado departamento

In [135]:
def cursos_por_departamento(dept):
    course_collection = db['course']
    dept_courses = course_collection.find({'dept_name': dept})
    
    courses_data = []
    for course in dept_courses:
        courses_data.append({
            'course_id': course['course_id'],
            'title': course['title'],
            'dept_name': course['dept_name'],
            'credits': course['credits']
        })
    
    df = pd.DataFrame(courses_data)
    return df

# Chamar a função para o departamento 'Comp. Sci.'
df = cursos_por_departamento('Comp. Sci.')
df

  course_id                       title   dept_name credits
0    CS-101  Intro. to Computer Science  Comp. Sci.       4
1    CS-190                 Game Design  Comp. Sci.       4
2    CS-315                    Robotics  Comp. Sci.       3
3    CS-319            Image Processing  Comp. Sci.       3
4    CS-347    Database System Concepts  Comp. Sci.       3

#### Questão 2 - Recuperar todas as disciplinas de um curso específico em um determinado semestre

In [169]:
def disciplinas_por_curso_e_semestre(titulo_curso, semestre):
    section_collection = db['section']
    course_collection = db['course']
    
    # Encontrar o documento do curso pelo título
    curso = course_collection.find_one({'title': titulo_curso})
    if not curso:
        print(f'O curso com o título "{titulo_curso}" não foi encontrado.')
        return None
    
    curso_secoes = section_collection.find({
        'course_id': curso['course_id'],
        'semester': semestre
    })
    
    secoes_data = []
    for secao in curso_secoes:
        secoes_data.append({
            'curso_title': titulo_curso,
            'semester': secao['semester'],
            'year': secao['year']
        })
    
    df = pd.DataFrame(secoes_data)
    return df


df = disciplinas_por_curso_e_semestre('Intro. to Computer Science', 'Spring')
df

                  curso_title semester  year
0  Intro. to Computer Science   Spring  2018

#### Questão 3 - Encontrar todos os estudantes que estão matriculados em um curso específico

In [178]:
import pandas as pd
from pymongo import MongoClient

def estudantes_por_curso(titulo_curso):
    # Conectar ao banco de dados
    course_collection = db['course']
    student_collection = db['student']
    
    # Encontrar o documento do curso pelo título
    curso = course_collection.find_one({'title': titulo_curso})
    if not curso:
        print(f'O curso com o título "{titulo_curso}" não foi encontrado.')
        return None
    
    # Consulta os estudantes matriculados no departamento do curso
    estudantes = student_collection.find({'dept_name': curso['dept_name']})
    
    # Criar lista de dicionários com os dados dos estudantes
    estudantes_data = []
    for estudante in estudantes:
        estudantes_data.append({
            'student_id': estudante['id'],
            'name': estudante['name'],
            'dept_name': estudante['dept_name'],
            'tot_cred': estudante['tot_cred']
        })
    
    # Criar DataFrame a partir da lista de dicionários
    df = pd.DataFrame(estudantes_data)
    return df

# Chamar a função para o curso 'Intro. to Biology'
df = estudantes_por_curso('Intro. to Computer Science')
df

Empty DataFrame
Columns: []
Index: []

In [176]:
listar_colunas('student')

# !!!! RODAR NOVAMENTE A QUERY DE CREATE TABLE PARA ALTERAR A ORDEM DAS COLUNAS "DEPT_NAME" E "NAME" DESGRAÇAAAAAAAAAAAAAAAAAAAAAAAAA

{'_id': ObjectId('663875728abfb77f37d6b928'), 'id': '00128', 'dept_name': 'Zhang', 'name': 'Comp. Sci.', 'tot_cred': '102'}
{'_id': ObjectId('663875728abfb77f37d6b929'), 'id': '12345', 'dept_name': 'Shankar', 'name': 'Comp. Sci.', 'tot_cred': '32'}
{'_id': ObjectId('663875728abfb77f37d6b92a'), 'id': '19991', 'dept_name': 'Brandt', 'name': 'History', 'tot_cred': '80'}
{'_id': ObjectId('663875728abfb77f37d6b92b'), 'id': '23121', 'dept_name': 'Chavez', 'name': 'Finance', 'tot_cred': '110'}
{'_id': ObjectId('663875728abfb77f37d6b92c'), 'id': '44553', 'dept_name': 'Peltier', 'name': 'Physics', 'tot_cred': '56'}
{'_id': ObjectId('663875728abfb77f37d6b92d'), 'id': '45678', 'dept_name': 'Levy', 'name': 'Physics', 'tot_cred': '46'}
{'_id': ObjectId('663875728abfb77f37d6b92e'), 'id': '54321', 'dept_name': 'Williams', 'name': 'Comp. Sci.', 'tot_cred': '54'}
{'_id': ObjectId('663875728abfb77f37d6b92f'), 'id': '55739', 'dept_name': 'Sanchez', 'name': 'Music', 'tot_cred': '38'}
{'_id': ObjectId('663875728abfb77f37d6b930'), 'id': '70557', 'dept_name': 'Snow', 'name': 'Physics', 'tot_cred': '0'}
{'_id': ObjectId('663875728abfb77f37d6b931'), 'id': '76543', 'dept_name': 'Brown', 'name': 'Comp. Sci.', 'tot_cred': '58'}
{'_id': ObjectId('663875728abfb77f37d6b932'), 'id': '76653', 'dept_name': 'Aoi', 'name': 'Elec. Eng.', 'tot_cred': '60'}
{'_id': ObjectId('663875728abfb77f37d6b933'), 'id': '98765', 'dept_name': 'Bourikas', 'name': 'Elec. Eng.', 'tot_cred': '98'}
{'_id': ObjectId('663875728abfb77f37d6b934'), 'id': '98988', 'dept_name': 'Tanaka', 'name': 'Biology', 'tot_cred': '120'}

#### Questão 4 - Listar a média de salários de todos os professores em um determinado departamento

#### Questão 5 - Recuperar o número total de créditos obtidos por um estudante específico

#### Questão 6 - Encontrar todas as disciplinas ministradas por um professor em um semestre específico

#### Questão 7 - Listar todos os estudantes que têm um determinado professor como orientador

#### Questão 8 - Recuperar todas as salas de aula sem um curso associado

#### Questão 9 - Encontrar todos os pré-requisitos de um curso específico