# NEO4J

In [31]:
import pandas as pd
from neo4j import GraphDatabase
from sqlalchemy           import create_engine, text
from sqlalchemy.orm       import sessionmaker
from sqlalchemy           import URL
from pymongo.mongo_client import MongoClient
from pymongo.server_api   import ServerApi

In [32]:
url_object = URL.create(
    "postgresql+pg8000",
    username="dcxhxgql",
    password="bPlk_dl7Xc4l0WEaPCJIYR4dnO9kGZbz",
    host="motty.db.elephantsql.com",
    database="dcxhxgql",
)

engine = create_engine(url_object)
engine = create_engine(url_object)
Session = sessionmaker(bind=engine)
session = Session()
conn = engine.connect()

# Driver NEO4J
driver = GraphDatabase.driver(uri = "bolt://localhost:7687", auth=("neo4j", "password"))

In [33]:
query = 'SELECT * FROM public.instructor;'
instructors = conn.execute(text(query)).all()
session.close()

columns = ['ID', 'name', 'dept_name', 'salary']
df_instructors = pd.DataFrame(instructors, columns=columns)
df_instructors['salary'] = df_instructors['salary'].astype(float)
df_instructors

       ID        name   dept_name   salary
0   10101  Srinivasan  Comp. Sci.  65000.0
1   12121          Wu     Finance  90000.0
2   15151      Mozart       Music  40000.0
3   22222    Einstein     Physics  95000.0
4   32343     El Said     History  60000.0
5   33456        Gold     Physics  87000.0
6   45565        Katz  Comp. Sci.  75000.0
7   58583   Califieri     History  62000.0
8   76543       Singh     Finance  80000.0
9   76766       Crick     Biology  72000.0
10  83821      Brandt  Comp. Sci.  92000.0
11  98345         Kim  Elec. Eng.  80000.0

In [34]:
def deleteDataNeo4J():
	try:
		driver.execute_query("""
			MATCH (i:instructor) DELETE i;
		""")
	except Exception as e:
		print(f"Deu errado: {e}")

In [35]:
####### import data into neo4j ##### 
from neo4j import GraphDatabase

instructors_list = df_instructors.values.tolist()

instructors_list_commands = []

for instructor in instructors_list:
    neo4j_create_statemenet = "CREATE (:instructor { id: '" + instructor[0] + "', name: '" + instructor[1] + "', dept_name: '" + instructor[2] + "', salary: " + str(instructor[3]) + " });"
    instructors_list_commands.append(neo4j_create_statemenet)

session = driver.session()
for i in instructors_list_commands:
    session.run(i)